.button-new {
  padding-top: 10px;
  color: red;
}

.body {
  margin: 0;
  background: url("./assets/apple-icon-57x57.png");
}




.body {
  margin: 0;
  background: url("./assets/apple-icon-57x57.png");
}
